<div style="font-family: Roboto, sans-serif">
    <img src="<!--url-->/img/email/logo.png" alt="<!--title-->" />
    
    <hr>
    
    <p>Dear {{user.username}},</p>
    <p>An email verification request for your account has been requested. Please visit the link below to finish the verification process.</p>
    <p>If you are not the one who initiated this request, please ignore this email.</p>
    <a href="{{url}}">{{url}}</a><br>
    <br>
    - <!--title-->
</div>