<div class="value-title">Temperature</div>
<div class="value-var">
    <span class="normalize"
        data-unittype="temperature"
        data-unit="celcius"
        data-unitround="2"
        data-unitprefsystem="imperial"
        aria-describedby="{{value.sensor}}_temperatureLabel">
        {{value.data.temperature}}
    </span>
    &nbsp;
    <span id="{{value.sensor}}_temperatureLabel">Celcius</span>
</div>

{{#value.data.temperatureRange}}
<div class="value-title">Temperature Range</div>
<div class="value-var">
    <span class="normalize"
    data-unittype="temperature"
    data-unit="celcius"
    data-unitround="2"
    data-unitprefsystem="imperial"
    aria-describedby="{{value.sensor}}_temperatureRangeLabel">
    {{value.data.temperatureRange}}
</span>
&nbsp;
<span id="{{value.sensor}}_temperatureRangeLabel">Celcius</span>
</div>
{{/value.data.temperatureRange}}