/server/node_modules
/.vscode
/server/config.json
/server/www
/server/views
/server/emails
/client/node_modules
/client/tmp
/client/build
/client/.sass-cache
/client/config.json

/client/cordova/platforms/**
/client/cordova/config.xml
/client/cordova/build.json
/client/cordova/node_modules/**
/client/cordova/plugins/**
/client/cordova/merges/**
/client/cordova/signing/**

.eslintrc.json
package-lock.json

.DS_Store