<!DOCTYPE html>
<head>
    <title>lcatDB - Error</title>
    <meta name="app:page" content="error"/>
    <meta name="app:mustLogin" content="false"/>
</head>
<body>
    <div id="content">
        <div class="container text-center">
            <h2>Error loading page.</h2>
            <hr>
            <p>Could not connect to the server.</p>
            <br>
            <button onclick="LcatDB.Pages.reload()" class="btn btn-lg btn-primary">Reload</button><br>
            <a href="./dashboard.html" class="btn btn-secondary">Return to Dashboard</a>
        </div>
    </div>
</body>