{{#reading}}
<table class="table">
    {{#location}}
    <tr>
        <th>Latitude</th>
        <td class="normalize"
            data-unittype="location"
            data-unit="degrees"
            data-unitpref="degMin">
            {{lat}}
        </td>
    </tr>

    <tr>
        <th>Longitude</th>
        <td class="normalize"
            data-unittype="location"
            data-unit="degrees"
            data-unitpref="degMin">
            {{long}}
        </td>
    </tr>

    {{#range}}
    <tr>
        <th>Range</th>
        <td class="normalize"
            data-unittype="length"
            data-unit="meters"
            data-unitprefsystem="imperial">
            {{.}}
        </td>
    </tr>
    {{/range}}


    {{#altitude}}
    <tr>
        <th>Altitude</th>
        <td class="normalize"
            data-unittype="length"
            data-unit="meters"
            data-unitprefsystem="imperial">
            {{.}}
        </td>
    </tr>
    {{/altitude}}

    {{#altRange}}
    <tr>
        <th>Altitude Range</th>
        <td class="normalize"
            data-unittype="length"
            data-unit="meters"
            data-unitprefsystem="imperial">
            {{.}}
        </td>
    </tr>
    {{/altRange}}
    {{/location}}
</table>

<hr>

<h5 class="h-inline margin-bottom-0">Values</h5>&nbsp;&nbsp;&nbsp;
<select id="unit-system-picker" class="selectpicker" data-style="btn-link margin-bottom-0">
    <option value="imperial" selected="selected">Imperial Units</option>
    <option value="metric">Metric Units</option>
</select>
<br>

<table class="table">
    {{#values}}
    {{#display}}
    {{#data}}
    <tr>
        <th>{{title}}</th>
        <td>
            <span class="{{#normalize}}normalize{{/normalize}}"
                data-unittype="{{normalize.type}}"
                data-unit="{{normalize.unit}}"
                data-unitprefsystem="{{normalize.prefSystem}}"
                aria-describedby="addon-values-{{index}}{{#path}}-{{.}}{{/path}}">
                {{data}}
            </span>
            <span id="addon-values-{{index}}{{#path}}-{{.}}{{/path}}">
                {{label}}
            </span>
        </td>
    </tr>
    {{/data}}
    {{/display}}
    {{/values}}
    {{^values}}
    <p>No values found for this reading.</p>
    {{/values}}
</table>

{{/reading}}

<div class="text-right">
    <button class="btn btn-link"
            onclick="LcatDB.Pages.navigate('/newReading.html?editqueue={{queueId}}')">
        Edit Reading
    </button>
</div>
