<!DOCTYPE html>
<head>
    <title>Add Sensor</title>
</head>
<body>
    Configuration ID: {{configuration._id}}<br>
    <form action="/configurations/{{configuration._id}}/addSensorDo" method="post">
        Sensor ID: <input type="text" name="sid">
        <input type="submit" value="Submit">
    </form>
</body>