<!DOCTYPE html>
<head>
    <title>Configuration</title>
</head>
<body>
    {{#configuration}}
    <h1>Configuration</h1>
    {{#canEdit}}
    <a href="/configurations/{{_id}}/edit">Edit Details</a><br>
    <a href="/configurations/{{_id}}/reading">Take Reading</a><br>
    {{/canEdit}}
    Name: {{name}}<br>
    ID: {{_id}}<br>
    Owner: {{owner}}<br>
    Creation: {{creation}}<br>
    <h2>Members</h2>
    <ul>
        {{#members}}
        <li>
            UID: {{uid}}<br>
            {{#canEdit}}
            <a href="/configurations/{{_id}}/removeMember/{{uid}}">Remove</a>
            {{/canEdit}}
        </li>
        {{/members}}
    </ul>
    {{#canEdit}}
    <a href="/configurations/{{_id}}/addMember">Add New Member</a>
    {{/canEdit}} 
    {{/configuration}}
    <h2>Sensors</h2>
    <ul>
        {{#sensors}}
        <li><a href="/sensors/{{_id}}">{{name}}</a></li>
        {{/sensors}}
    </ul>
    {{#configuration.canEdit}}
    <a href="/configurations/{{_id}}/addSensor">Add Existing Sensor</a>
    <a href="/sensors/new?configuration={{_id}}">Add New Sensor</a>
    {{/configuration.canEdit}} 
    <h2>Edits</h2>
    <ul>
        {{#configuration.edits}}
        <li>{{time}}</li>
        {{/configuration.edits}}
    </ul>
</body>