<!DOCTYPE html>
<head>
    <title>Reading</title>
</head>
<body>
    <h1>Reading</h1>
    {{#reading}}
    Configuration Id: <a href="/configurations/{{configuration}}">{{configuration}}</a><br>
    Creator Id: {{creator}}<br>
    Time Created: {{timeCreated}}<br>

    Publisher Id: {{publisher}}<br>
    Published: {{published}}<br>
    Time Published: {{timePublished}}<br>
    {{#location}}
    <h2>Location</h2>
    Latitude: {{lat}}<br>
    Longitude: {{long}}<br>
    Range: {{range}}<br>
    Altitude: {{altitude}}<br>
    Altitude Range: {{altRange}}<br>
    {{/location}}
    <h2>Values</h2>
    {{#values}}
        Sensor Id: {{sensor}}<br>
        Type: {{type}}<br>
        {{{html}}}<br>
    {{/values}}
    {{/reading}}
</body>