<!DOCTYPE html>
<head>
    <title>New Sensor</title>
</head>
<body>
    <h1>New Sensor</h1>
    <form action="/sensors/newDo{{#configuration}}?configuration={{.}}{{/configuration}}" method="post">
        Type: <select name="type" value="{{typeFirst}}">
        {{#types}}
            <option value="{{key}}">{{type.data.name}}</option>
        {{/types}}
        </select><br>
        Add to Configuration: <input type="text" name="configuration" value="{{configuration}}"><br>
        <input type="submit" value="Submit">
    </form>
</body>