<!DOCTYPE html>
<head>
    <title>Sensor</title>
</head>
<body>
    <h1>Sensor</h1>
    Name: {{sensor.name}}<br>
    Description: {{sensor.description}}<br>
    Model: {{sensor.model}}<br>
    Type: {{sensor.type}}
    <h2>Edits</h2>
    <ul>
        {{#sensor.edits}}
        <li>{{time}}</li>
        {{/sensor.edits}}
    </ul>
    {{#canEdit}}<a href="/sensors/{{sensor._id}}/edit">Edit Sensor</a>{{/canEdit}}
</body>