<!DOCTYPE html>
<head>
    <title>Edit Sensor</title>
</head>
<body>
    <h1>Edit Sensor</h1>
    {{#canEdit}}
    <form action="./editDo{{#configuration}}?configuration={{.}}{{/configuration}}" method="post">
        Name: <input type="text" name="name" value="{{sensor.name}}"><br>
        Description: <input type="text" name="description" value="{{sensor.description}}"><br>
        Model: <input type="text" name="model" value="{{sensor.model}}"><br>
        <input type="submit" value="Submit"><br>
    </form>
    {{/canEdit}}
    {{^canEdit}}
    <p>Sorry, you do not have permission to edit this sensor.
    {{/canEdit}}
</body>