.modal-body {
    padding: 0;

    & > iframe {
        transition: height 0.2s;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-dialog {
    max-height: 100vh;
    padding: 50px 0;
}

@media (max-width: 767px) {
    .modal-dialog {
        margin: 22px;
    }
}

.modal-content {
    border-radius: 10px;
    padding: 16px 32px;
}

.modal-header {
    padding: 0;
    & .close {
        font-size: 24px;
    }
}

.modal-footer {
    opacity: 1;
    transition: opacity 0.1s, height 0.25s;
    padding: 0;

    & > .btn {
        vertical-align: baseline;
    }
}

.modal iframe {
    width: 100%;
    border: none;
}