.reading-panel {
    position: relative;
    padding: 12px 16px;
}

.reading-sid {
    position: absolute;
    right: 8px;
    top: 8px;
}

.value-title {
    font-size: 20px;
}

.leaflet-popup-content {
    .value-title {
        font-size: 13px;
        font-weight: bold;
        display: inline-block;

        &::after {
            content: " \2022 "
        }
    }

    .value-var {
        display: inline-block;        
    }
}