@import "./lib/bootstrap/bootstrap";
@import "./lib/bootstrap/bootstrap-select";
@import "./lib/bootstrap/bootstrap-xxs";
@import "./lib/bootstrap/bootstrap-datetimepicker";
@import "./lib/spinner";
@import "./lib/vis.min";
@import "./lib/leaflet";

$large-screen-width: 1200px;

body:not(.no-nav) {
    #content, .navbar, #navbar-top-bg  {
        padding-top: constant(safe-area-inset-top);
        /* iOS 11.0 */
        padding-top: env(safe-area-inset-top);
        /* iOS 11.2 */
    }
    
    &.is-ios.in-app {
        #content, .navbar, #navbar-top-bg  {
            padding-top: 16px;
            /* < iOS 11.0 */
            padding-top: constant(safe-area-inset-top);
            /* iOS 11.0 */
            padding-top: env(safe-area-inset-top);
            /* iOS 11.2 */
        }
    }
}


@import "fonts";
@import "home";
@import "spoiler";
@import "tutorial";
@import "reading";
@import "newReading";
@import "visualize";
@import "map";
@import "sidebar";
@import "dashboard";
@import "content";

@media (max-width: 1199px) {
    body:not(.no-nav) #content > .container {
        padding-top: 64px;
    }
}

.js {
    display: none;
}

.map {
    height: 512px;
    width: 100%;
}

.h-inline {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

h2, h3 {
    padding-right: 16px;
}

.btn-img {
    padding: 0;
}

.btn-tiny {
    padding: 0 10px;
    font-size: 12px;
    vertical-align: top;
}

#footer {
    width: 100%;
    padding: 24px;
    color: white;
    background: #2196f3;

}


.modal iframe {
    width: 100%;
    border: none;
}

.dropdown-item {
    cursor: pointer;
}

.navbar-brand {
    padding: 16px 4px;
}

.extra-small {
    font-size: 65%;
}

.bootstrap-select {
    width: auto !important;
    min-width: 140px;
    margin-bottom: 10px;
}

#loading-overlay {
    transition: opacity 0.2s;
    transition-delay: 0.5s;

    opacity: 0.75;
    position: fixed;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;

    z-index: 99999;
    background: #333;

    &.disabled {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
    }
}

#loading-content {
    transition: opacity 0.2s;
    transition-delay: 2s;

    position: fixed;
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;

    z-index: 999;

    &.disabled {
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
    }

    & .mds-rotator:before {
        border: 3px solid #ffffff;
    }
    
    & .mds-inner-spin, & .mds-spinner-wrapper::after  {
        background: #ffffff;
    }
}

#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -2em;
    margin-left: -2em;
}

a.disabled {
    pointer-events: none;
}

.navbar-toggle > svg {
    position: absolute;
    left: 0;
    bottom: 0;
    fill: #fff;
}  

.container-flex {
    height: 100%;
    display: flex;
}

.container-centerall {
    justify-content: center;
    align-items: center;
}

.container-nopad {
    padding: 0px;
}

@media (min-width: 1200px) {
    .container-nopad {
        width: calc(100vw - 256px);
    }
}

.container-login {
    max-width: 455px;
    margin: 8px;
    margin-bottom: 64px;
    background: white;
    padding: 1px 32px 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 64px -8px rgba(0, 0, 0, 1);
}

.body-fullheight {
    height: 100vh;
}

.body-transparentnavbar {
    .navbar {
        background: none;
        box-shadow: none;
    } 
    
    .navbar-header {
        filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 1));
    }

    #navbar-top-bg {
        display: none;
    }
}

.body-darkbg {
    background: #212121;
}

.btn {
    margin-bottom: 12px;
}

.btn-sm {
    margin-bottom: 8px;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 0;

    & > iframe {
        transition: height 0.2s;
    }
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.appBanner {
    display: none;
}

.no-pad {
    padding: 0 !important;
}

#navbar-top-bg {
    background: #2196f3;
    position: absolute;
    top: 0;
    height: 64px;
    width: 100%;
    box-sizing: content-box;
}


body.is-ios:not(.body-transparentnavbar) .navbar {
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-color: rgba(33, 150, 243, 0.6);
}

.no-nav {
    & #navbar, & #sidebar, & #navbar-top-bg {
        opacity: 0;
        pointer-events: none;
    }
}