@import "./lib/bootstrap/bootstrap";
@import "./lib/bootstrap/bootstrap-xxs";
@import "./lib/bootstrap/bootstrap-datetimepicker";

@import "home";
@import "tutorial";

body:not(.no-nav) {
    padding-top: 54px;
}

.js {
    display: none;
}

.map {
    height: 512px;
    width: 100%;
}

.h-inline {
    display: inline-block;
    vertical-align: middle;
}

.btn-img {
    padding: 0;
}

#footer {
    width: 100%;
    padding: 24px;
    color: white;
    background: #2196f3;
    // position: absolute;
    // bottom: 0;
    // height: 64px;
    // line-height: 64px;
}