@import "./lib/bootstrap/bootstrap";
@import "./lib/bootstrap/bootstrap-xxs";
@import "./lib/bootstrap/bootstrap-datetimepicker";

@import "home";
@import "spoiler";
@import "tutorial";
@import "reading";
@import "map";

body:not(.no-nav) {
    padding-top: 70px;
}

.js {
    display: none;
}

.map {
    height: 512px;
    width: 100%;
}

.h-inline {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

.btn-img {
    padding: 0;
}

.btn-tiny {
    padding: 0 10px;
    font-size: 12px;
    vertical-align: top;
}

#footer {
    width: 100%;
    padding: 24px;
    color: white;
    background: #2196f3;
    // position: absolute;
    // bottom: 0;
    // height: 64px;
    // line-height: 64px;
}

.reading-more {
    width: 100%;
    position: relative;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 10px;
    /* this is literally just a grey pixel */
    background-image: url('/img/reading/blackpixel.png');
    color: #DDDDDD;

    background-repeat: repeat-x;
    background-position-y: center;

    &::before {
        content: "Show More";
        background: #fff;
    }

    &.spoiler-active::before {
        content: "Show Less";
    }
}

.modal iframe {
    width: 100%;
    border: none;
}

.dropdown-menu {
    padding: 16px;
    user-select: none;
}

.dropdown-item {
    cursor: pointer;
}

.navbar-brand {
    padding: 16px;
}

.extra-small {
    font-size: 65%;
}