.visualize-graph-map {
    width: 100%;
    height: 100%;
}

.visualize-graph-3d {
    width: 100% !important;
    height: 100% !important;
    background-color: #fff;
}

@media (min-width: 1200px) {
    .page-visualize {    
        #visualize-prefs {

        }

        #visualize-output {
            position: fixed;
            right: 0;
            height: 100%;
            width: calc((100vw - 256px) / 2);
            padding: 0;
            top: 0;
        }

        .container {
            margin: 0 !important;
        }
    }
}
