<label class="control-label">Depth</label>
<div class="input-group">
    <input  name="values.{{_id}}.depth" class="form-control normalize"
            type="number" step="any"
            aria-describedby="addon-values_{{_id}}_depth"
            data-unittype="length" data-unit="meters" data-unitprefsystem="imperial">
    <br>
    <span class="input-group-addon" id="addon-values_{{_id}}_depth">Meters</span>
</div>
<div class="spoiler reading-more" data-spoiler-link="{{_id}}"></div>
<div class="spoiler-content" data-spoiler-link="{{_id}}">
    <label class="control-label">Depth Range (Optional)</label>
    <div class="input-group">
        <input  name="values.{{_id}}.depthRange" class="form-control normalize"
                type="number" step="any" 
                aria-describedby="addon-values_{{_id}}_depthRange"
                data-unittype="length" data-unit="meters" data-unitprefsystem="imperial">
        <br>
        <span id="addon-values_{{_id}}_depthRange" class="input-group-addon">Meters</span>
    </div>
</div>