<p>Dear {{user.username}},</p> <p>A password reset request for your account has been requested. Please visit the link below to finish the reset process.</p> <p>If you are not the one who initiated this request, please ignore this email.</p> <a href="{{url}}">{{url}}</a> <p>- lcatDB</p>