<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Readings</title>
    <meta name="app:page" content="configurationReadingList"/>
</head>
<body>
    <!--nav_auto-->

    {{#configuration}}
    <div class="container">
        <br>
        <h2 class="h-inline">Readings</h2>

        {{#canEdit}}
        <!-- <a class="btn btn-sm btn-primary" href="/configurations/{{_id}}/readingsExport">Export All</a> -->
        <a class="btn btn-sm btn-secondary" href="/newReading.html?configuration={{_id}}">Submit Reading</a>
        {{/canEdit}}
        <hr>
        <ul class="list-group">
            {{#readings}}
            <li class="list-group-item">
                <a href="/readings/{{_id}}">
                    <span class="normalize"
                        data-unittype="time"
                        data-unit="unix"
                        data-unitpref="human12hr">
                        {{timeCreated}}
                    </span>
                </a>
            </li>
            {{/readings}}
            {{^readings.length}}
            <p>No readings found.</p>
            {{/readings.length}}
        </ul>
    </div>
    {{/configuration}}

    <!--scripts-->
</body>