<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Edit Configuration</title>
    <meta name="app:page" content="configurationEdit"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        {{#configuration}}
        <h2>Edit Configuration</h2>
        {{#canEdit}}
        <form action="/configurations/{{_id}}/editDo" method="post" class="form-horizontal"><fieldset class="container">
            <div class="form-group">
                <label class="col-xs-2 control-label" for="name">Name</label>
                <div class="col-xs-10"><input class="form-control" type="text" name="name" value="{{configuration.name}}"></div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <a href="/configurations/{{_id}}" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset></form>
        {{/canEdit}}
        {{^canEdit}}
        <p>Sorry, you do not have permission to edit this configuration.</p>
        {{/canEdit}}
        {{/configuration}}
    </div></div>

    <!--scripts-->
</body>