<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Readings</title>
</head>
<body>
    <!--nav_auto-->

    {{#configuration}}
    <div class="container">
        <br>
        <h2 class="h-inline">Readings</h2>
        <!-- <div style="display:inline" class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Export All...
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="./readingsExport?format=json">JSON</a></li>
            </ul>
        </div> -->
        {{#canEdit}}
        &nbsp;&nbsp;
        <a class="btn btn-sm btn-primary" href="./readingsExport">Export All</a>
        &nbsp;&nbsp;        
        <a class="btn btn-sm btn-secondary" href="/newReading.html?configuration={{_id}}">Submit Reading</a>
        {{/canEdit}}
        <hr>
        <ul class="list-group">
            {{#readings}}
            <li class="list-group-item">
                <a href="/readings/{{_id}}">
                    <span class="normalize"
                        data-unittype="time"
                        data-unit="unix"
                        data-unitpref="human12hr">
                        {{timeCreated}}
                    </span>
                </a>
            </li>
            {{/readings}}
            {{^readings.length}}
            <p>No readings found.</p>
            {{/readings.length}}
        </ul>
    </div>
    {{/configuration}}

    <!--scripts-->
</body>