<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - New Reading</title>
</head>
<body>
    <!--nav-->

    <div class="container">
        <h2>New Reading</h2>
        <div class="row">
            &nbsp;&nbsp;&nbsp;Configuration <a href="./">{{configuration.name}} ({{configuration._id}})</a>
        </div>
        <br>
        {{#canEdit}}
        <div class="js">
            <button id="locationget" type="button" class="btn btn-primary" onclick="getLocation()">Get Location</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="locationalways" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Get Location Automatically</span>
            </label>
            <br><br>
            <div class="map" id="map"></div>
        </div>
        <br>
        <form action="./readingDo" method="post"><fieldset class="container">
            <div class="row">
                <div class="col-xs-6 col-xxs-12">
                    <label class="control-label" for="location.lat">
                        Latitude
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="number" step="any" name="location.lat"
                        aria-describedby="addon-location_lat" id="location_lat" min="-90" max="90"><br>
                        <span class="input-group-addon" id="addon-location_lat">Degrees</span>
                    </div>
                </div>
                <div class="col-xs-6 col-xxs-12">
                    <label class="control-label" for="location.long">
                        Longitude
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="number" step="any" name="location.long" 
                        aria-describedby="addon-location_long" id="location_long" min="-180" max="180">
                        <span class="input-group-addon" id="addon-location_long">Degrees</span>
                    </div>
                </div>
            </div>

            <br>

            <div class="row form-expand">
                <div class="col-sm-4 col-xs-12">
                    <label class="control-label" for="location.range">
                        Range (Optional)
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="number" step="any" name="location.range"
                        aria-describedby="addon-location_range" id="location_range" min="0"><br>
                        <span class="input-group-addon" id="addon-location_range">Meters</span>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <label class="control-label" for="location.alt">
                        Altitude (Optional)
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="number" step="any" name="location.alt"
                        aria-describedby="addon-location_alt" id="location_alt"><br>
                        <span class="input-group-addon" id="addon-location_alt">Meters</span>
                    </div>
                </div>

                <div class="col-sm-4 col-xs-12">
                    <label class="control-label" for="location.altRange">
                        Altitude Range (Optional)
                    </label>
                    <div class="input-group">
                        <input class="form-control" type="number" step="any" name="location.altRange"
                        aria-describedby="addon-location_altRange" id="location_altRange" min="0"><br>
                        <span class="input-group-addon" id="addon-location_altRange">Meters</span>
                    </div>
                </div>

            </div>

            <br>
            
            <div class="form-group">
                <label class="control-label">
                    Time Created
                </label>
                <input class="form-control" type="number" name="timeCreated" value="{{timeCurrent}}">
            </div>

            <h3 class="h-inline">Sensors</h3>
            &nbsp;&nbsp;
            <a href="/sensors/new?configuration={{configuration._id}}" class="btn btn-primary">Add New</a>
            &nbsp;&nbsp;
            <a href="./addSensor" class="btn btn-secondary">Add Existing</a>
            <br>
            {{#sensors}}
                <h4 class="h-inline">{{name}}</h4>&nbsp;&nbsp;<a href="/sensors/{{_id}}">({{_id}})</a><br>
                {{{html}}}
                <br>
            {{/sensors}}
            {{^sensors}}
                <p>No sensors found for this configuration.</p>
            {{/sensors}}

            <div class="form-group">
                <div>
                    <a href="./" class="btn btn-default">Cancel</a>
                    &nbsp;&nbsp;
                    <button type="submit" name="publish" class="btn btn-primary">Save and Publish</button>
                </div>
            </div>
        </fieldset></form>

        {{/canEdit}}
        {{^canEdit}}
        <p>Sorry, you do not have permission to create a reading.
        {{/canEdit}}
    </div>

    <!--scripts-->

    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsPFPL4ttV7hbmVIF-BELdB9WD_c5SjJA&callback=initMap">
    </script>
    <script src="/js/reading.js"></script>

</body>