<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Configuration</title>
</head>
<body>
    <!--nav_auto-->

    <div class="container">
    {{#configuration}}
        <div class="hide" id="configuration">{{_id}}</div>

        <h2 class="h-inline">Configuration</h2>
        {{#canEdit}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a role="button" class="btn btn-primary btn-lg" href="/newReading.html?configuration={{_id}}">Submit Reading</a>
        <br class="visible-xxs">
        {{/canEdit}}
        <br>

        <div class="row">
            <div class="col-xs-4 col-sm-2 text-right">Name</div>
            <div>{{name}}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 text-right">ID</div>
            <div>{{_id}}</div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 text-right">Owner</div>
            <div>
                <!--<a href="/profile/{{owner._id}}">{{owner.username}}</a>-->
                <span>{{owner.username}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-sm-2 text-right">Creation Time</div>
            <div class="normalize"
                data-unittype="time"
                data-unit="unix"
                data-unitpref="human12hr">
                {{creation}}
            </div>
        </div>
        <br>
        <a role="button" class="btn btn-primary" href="/configurations/{{_id}}/readings">View Readings</a>
        &nbsp;
        {{#canEdit}}        
        <a role="button" class="btn btn-secondary" href="/configurations/{{_id}}/edit">Edit Details</a>
        {{/canEdit}}

        <hr>

        <h3>Sensors</h3>
        <ul class="list-group">
            {{#sensors}}
            <li class="list-group-item">
                <div class="row small">
                    <div class="col-xs-3"><strong>{{typeData.name}}<strong></div>
                    <div class="col-xs-9 text-right extra-small text-muted">
                        {{_id}}&nbsp;&nbsp;
                        <a  href="/configurations/{{configuration._id}}/removeSensor?sid={{_id}}"
                            class="sensor-remove btn btn-secondary btn-sm"
                            data-sid="{{_id}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
                <a href="/sensors/{{_id}}">
                    <span>{{model}} ({{name}})</span>
                </a>
            </li>
            {{/sensors}}
            {{^sensors}}
            <p>No sensors found for this configuration.</p>
            {{/sensors}}
        </ul>
        {{#canEdit}}
        <a id="sensor-new" class="btn btn-primary" href="/sensors/new?configuration={{_id}}">Add New Sensor</a>
        &nbsp;
        <a id="sensor-existing" class="btn btn-secondary" href="/configurations/{{_id}}/addSensor">Add Existing Sensor</a>
        {{/canEdit}} 

        <hr>

        <h3 class="h-inline">Map</h3>
        &nbsp;&nbsp;
        <select id="map-time-picker" class="selectpicker">
            <option value="86400">Last 24 Hours</option>
            <option value="172800">Last 48 Hours</option>
            <option value="604800" selected="selected">Last 1 Week</option>
            <option value="1209600">Last 2 Weeks</option>
            <option value="3024000">Last 5 Weeks</option>
            <option value="6048000">Last 10 Weeks</option>
            <option value="31557600">Last 1 Year</option>
        </select>
        <br>
        <iframe id="map-time" class="map-iframe" src="/embed/map.html?embed=true&configuration={{_id}}&timeAgo=604800"></iframe>

        <hr>

        <h3>Edits</h3>
        <ul class="list-group">
            {{#edits}}
            <li class="list-group-item normalize"
                data-unittype="time"
                data-unit="unix"
                data-unitpref="human12hr">
                {{time}}
            </li>
            {{/edits}}
            {{^edits}}
            <p>No edits found for this configuration.</p>
            {{/edits}}
        </ul>
        {{/configuration}}
    </div>

    <!--scripts-->

    <script src="/js/modals.js"></script>
</body>