<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Not Found</title>
</head>
<body>
    <!--nav-->

    <div class="container text-center">
        <h2>Configuration not found.</h2>
        <a class="btn btn-primary btn-lg" href="/dashboard">Return to Dashboard</a>
    </div>

    <!--footer-->
    <!--scripts-->
</body>