<!DOCTYPE html>
<head>
    <title><!--title--> - Not Found</title>
    <!--head-->
</head>
<body>
    <!--nav-->

    <div>
        <h1>Configuration not found.</h1>
        <a href="/dashboard">&larr; Return to Dashboard</a>
    </div>

    <!--footer-->
    <!--scripts-->
</body>