{{#query.modal}}
<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Remove Sensor</title>
    <meta name="app:page" content="configurationRemoveSensorModal"/>
    <meta name="app:mustLogin" content="true"/>
</head>
<body class="no-nav">
    <div id="content">
    {{#configuration.canEdit}}
    <div id="step-1" style="display:none">
        <p>Are you sure you want to remove this sensor from this configuration? The sensor will still exist, and can be re-added at any time.</p>
        <div class="text-right">
            <button class="btn btn-danger" id="remove">Remove</button>
            &nbsp;
        </div>
        <br>
    </div>

    <div id="loading">
        Loading...
    </div>

    {{/configuration.canEdit}}
    {{^configuration.canEdit}}
    <p>Sorry, you do not have permission to edit this configuration.</p>
    {{/configuration.canEdit}}
    </div>

    <!--scripts-->
    <script src="/js/lib/iframeResizer.contentWindow.min.js"></script>
</body>
{{/query.modal}}
{{^query.modal}}
<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Remove Sensor</title>
    <meta name="app:page" content="configurationRemoveSensor"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        <h2>Remove Sensor</h2>
        <hr>
        {{#configuration.canEdit}}
        <form action="<!--url-->/configurations/{{configuration._id}}/removeSensorDo" method="post" class="container">
            <div class="row">
                <label class="col-xs-12 col-sm-2"><strong>Configuration</strong></label>
                <div class="col-xs-12 col-sm-10">{{configuration._id}}</div>
            </div>
            <div class="row">
                <label class="col-xs-12 col-sm-2"><strong>Sensor</strong></label>
                <div class="col-xs-12 col-sm-10"><input class="form-control" type="text" name="sid" value="{{query.sid}}"></div>
            </div>
            <br>
            <p>Are you sure you want to remove this sensor from this configuration? The sensor will still exist, and can be re-added at any time.</p>
            <div class="text-right">
                <a href="/configurations/{{_id}}" class="btn btn-default">Cancel</a>
                &nbsp;&nbsp;
                <button type="submit" class="btn btn-danger">Remove</button>
            </div>
        </form>
        {{/configuration.canEdit}}
        {{^configuration.canEdit}}
        <p>Sorry, you do not have permission to edit this configuration.</p>
        {{/configuration.canEdit}}

    </div></div>

    <!--scripts-->
</body>
{{/query.modal}}