<!DOCTYPE html>
<head>
    <title><!--title--> - Configurations</title>
    <!--head-->
</head>
<body>
    <!--nav-->

    <div>
        <h1>Configurations</h1>
        <a href="/configurations/new">Add New</a>
        <h1>Configurations</h1>
        <ul>
        {{#configurations}}
        <li><a href="/configurations/{{_id}}">{{name}}</a></li>
        {{/configurations}}
        </ul>
        {{^configurations.length}}
            No configurations found.
        {{/configurations.length}}
    </div>

    <!--footer-->
    <!--scripts-->
</body>