<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Add Existing Sensor</title>
</head>
{{#query.modal}}
<body class="no-nav">
    <div id="step-1">
        <ul id="sensors" class="list-group">
            {{#user.sensors}}
            <li class="list-group-item">
                <div class="row small">
                    <div class="col-xs-3"><strong>{{typeData.name}}<strong></div>
                    <div class="col-xs-9 text-right extra-small text-muted">{{_id}}</div>
                </div>
                <a href="#" class="sensor" id="{{_id}}">
                    <span>{{model}} ({{name}})</span>
                </a>
            </li>
            {{/user.sensors}}
            {{^user.sensors.length}}
            <p>No sensors found.</p>
            {{/user.sensors.length}}
        </ul>
    </div>

    <div id="loading" style="display:none">
        Loading...
    </div>

    <!--scripts-->

    <script src="/js/lib/iframeResizer.contentWindow.min.js"></script>
    <script src="/js/modals/configurationAddSensor.js"></script>
</body>
{{/query.modal}}
{{^query.modal}}
<body>
    <!--nav_user-->{{^user}}<!--nav_nouser-->{{/user}}

    <div class="container">
        <h2>Add Existing Sensor</h2>
        {{#canEdit}}
        <h4>Input the ID in the box below.</h4>
        <form id="form" action="/configurations/{{configuration._id}}/addSensorDo" method="post" class="form-horizontal"><fieldset class="container">
            <div class="form-group">
                <label class="col-xs-2 control-label">Sensor ID</label>
                <div class="col-xs-10"><input class="form-control" type="text" id="sid" name="sid"></div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <a href="/configuration/{{configuration._id}}" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset></form>
        <h3>OR</h3><br>
        <h4>Choose a sensor from the list.</h4>
        <div class="js">
            <ul id="sensors" class="list-group">
                {{#user.sensors}}
            <li class="list-group-item">
                <div class="row small">
                    <div class="col-xs-3"><strong>{{typeData.name}}<strong></div>
                    <div class="col-xs-9 text-right extra-small text-muted">{{_id}}</div>
                </div>
                <a href="#" class="sensor" id="{{_id}}">
                    <span>{{model}} ({{name}})</span>
                </a>
            </li>
                {{/user.sensors}}
                {{^user.sensors.length}}
                <p>No sensors found.</p>
                {{/user.sensors.length}}
            </ul>
        </div>
        <div class="no-js">
            Please enable Javascript to use this feature.
        </div>

        {{/canEdit}}
        {{^canEdit}}
        <p>Sorry, you do not have permission to add a sensor.</p>
        {{/canEdit}}
    </div>

    <!--scripts-->

    <script src="/js/pages/configurationAddSensor.js"></script>
</body>
{{/query.modal}}