<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Configurations</title>
</head>
<body>
    <!--nav_auto-->
    <br>
    <div class="container"><div class="col-md-8 col-md-offset-2 col-xs-12">
        <h2 class="h-inline">Configurations</h2>
        <a role="button" class="btn btn-primary" href="/configurations/new">Add New</a><br>
        <p>A configuration represents a group of sensors whose measurements have direct connections to one another.<br>
            To add a sensor to a configuration, choose a configuration from the list below.</p>
        <hr>
        <ul class="list-group">
            {{#configurations}}
            {{#query.reading}}
            <li class="list-group-item"><a href="/newReading.html?configuration={{_id}}">{{name}}</a></li>
            {{/query.reading}}
            {{^query.reading}}
            <li class="list-group-item"><a href="/configurations/{{_id}}">{{name}}</a></li>
            {{/query.reading}}
            {{/configurations}}
        </ul>
        {{^configurations.length}}
            No configurations found.
        {{/configurations.length}}
    </div></div>

    <!--scripts-->
</body>