<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Tutorial</title>
</head>
<body>
    <!--nav_blank-->
    <div class="container text-center">
        {{#configuration}}
        <div class="hide" id="configuration">{{_id}}</div>

        <h2>Add Some Sensors</h2>
        <div class="js">
            <p>Please add whichever sensors you plan to take readings with, <strong>including at least one depth and one temperature sensor.</strong></p>

            <button id="sensor-new" class="btn btn-lg btn-primary">Add New</button>
            <br><br>
            <div class="row text-left"><div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2 col-xxs-12 col-xxs-offset-0">
                <ul id="sensors" class="list-group">
                    {{#sensors}}
                    <li class="list-group-item sensor" data-type="{{type}}">
                        <div class="row small">
                            <div class="col-xs-3"><strong>{{typeData.name}}<strong></div>
                            <div class="col-xs-9 text-right extra-small text-muted">
                                {{_id}}&nbsp;&nbsp;
                                <a  href="/configurations/{{configuration._id}}/removeSensor?sid={{_id}}"
                                    class="sensor-remove btn btn-secondary btn-sm"
                                    data-sid="{{_id}}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </div>
                        <span>{{model}} ({{name}})</span>
                    </li>
                    {{/sensors}}
                    {{^sensors}}
                    <p>No sensors found.</p>
                    {{/sensors}}
                </ul>
            </div></div>

            <a id="done" class="btn btn-primary" disabled>Done</a>
        </div>
        <div class="no-js">
            <p>Standard setup requires Javascript to be enabled.</p>
            <a class="btn btn-lg btn-primary" href="/configurations/{{_id}}/tutorial">Reload</a><br>
            <br>
            <a class="btn btn-secondary" href="/dashboard.html">Go to Dashboard</a>
        </div>
        {{/configuration}}
    </div>

    <!--scripts-->

    <script src="/js/modals.js"></script>
    <script src="/js/pages/configurationTutorial.js"></script>
</body>