<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Not Found</title>
    <meta name="app:page" content="configurationNF"/>
    <meta name="app:mustLogin" content="false"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container text-center">
        <h2>Configuration not found.</h2>
        <a class="btn btn-primary btn-lg" href="/dashboard.html">Return to Dashboard</a>
    </div></div>

    <!--scripts-->
</body>