<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Configuration</title>
    <meta name="app:page" content="configuration"/>
    <meta name="app:mustLogin" content="false"/>
    <meta name="app:noUser" content="false"/>
</head>
<body>
    <!--nav_auto-->
    <div id="content"><div class="container">
    {{#configuration}}
        <div class="hide" id="configuration">{{_id}}</div>

        <br>
        <h2 class="h-inline">Configuration</h2>
        {{#canEdit}}
        <a role="button" class="btn btn-primary"
           href="/newReading.html?configuration={{_id}}">
           Submit Reading
        </a>
        {{/canEdit}}
        <br><br>
        
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{_id}}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{owner.username}}</td>
            </tr>
            <tr>
                <th>Creation Time</th>
                <td class="normalize"
                    data-unittype="time"
                    data-unit="unix"
                    data-unitpref="human12hr">
                    {{creation}}
                </td>
            </tr>
        </table>
        <a role="button"
            class="btn btn-primary"
            href="/configurations/{{_id}}/readings">
            View Readings
        </a>
        {{#canEdit}}        
        <a role="button"
            class="btn btn-secondary"
            href="/configurations/{{_id}}/edit">
            Edit Details
        </a>
        {{/canEdit}}

        <hr>

        <h3>Sensors</h3>
        <ul class="list-group">
            {{#sensors}}
            <li class="list-group-item">
                <div class="row small">
                    <div class="col-xs-3"><strong>{{typeData.name}}<strong></div>
                    <div class="col-xs-9 text-right extra-small text-muted">
                        {{_id}}&nbsp;
                        <a  href="/configurations/{{configuration._id}}/removeSensor?sid={{_id}}"
                            class="sensor-remove btn btn-secondary btn-sm nav-ignore"
                            data-sid="{{_id}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </div>
                </div>
                <a href="/sensors/{{_id}}">
                    <span>{{model}} ({{name}})</span>
                </a>
            </li>
            {{/sensors}}
            {{^sensors}}
            <p>No sensors found for this configuration.</p>
            {{/sensors}}
        </ul>
        {{#canEdit}}
        <a id="sensor-new"
            class="btn btn-primary nav-ignore"
            href="/sensors/new?configuration={{_id}}">
            Add New Sensor
        </a>
        <a id="sensor-existing"
            class="btn btn-secondary nav-ignore"
            href="/configurations/{{_id}}/addSensor">
            Add Existing Sensor
        </a>
        {{/canEdit}} 

        <hr>

        <h3 class="h-inline">Map</h3>
        <select id="map-time-picker" class="selectpicker">
            <option value="86400">Last 24 Hours</option>
            <option value="172800">Last 48 Hours</option>
            <option value="604800" selected="selected">Last 1 Week</option>
            <option value="1209600">Last 2 Weeks</option>
            <option value="3024000">Last 5 Weeks</option>
            <option value="6048000">Last 10 Weeks</option>
            <option value="31557600">Last 1 Year</option>
        </select>
        <br>
        <div id="map-time" class="map-iframe" data-configuration="{{_id}}"></div>

        <hr>

        <h3>Edits</h3>
        <ul class="list-group">
            {{#edits}}
            <li class="list-group-item normalize"
                data-unittype="time"
                data-unit="unix"
                data-unitpref="human12hr">
                {{time}}
            </li>
            {{/edits}}
            {{^edits}}
            <p>No edits found for this configuration.</p>
            {{/edits}}
        </ul>
        {{/configuration}}
    </div></div>

    <!--scripts-->
</body>