<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Dashboard</title>
</head>
<body>
    <!--nav-->
    <div class="container text-center">
        {{#user}}
        <h2>Welcome, {{username}}!</h2>
        <h3>What would you like to do?</h3>
        <a href="/configurations?reading"><div class="btn btn-image">
            <img src="/img/dashboard/reading.png">
            <div class="btn-image-short">Submit a Reading</div>
        </div></a>
        <br>
        <a href="/visualize"><div class="btn btn-image">
            <img src="/img/dashboard/visualize.png">
            <div class="btn-image-short">Visualize Data</div>
        </div></a>
        <br>
        <a href="/configurations"><div class="btn btn-image">
            <img src="/img/dashboard/configurations.png">
            <div class="btn-image-short">View Configurations</div>
        </div></a>
        {{/user}}
    </div>

    <!--scripts-->
</body>
