<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Dashboard</title>
</head>
<body>
    <!--nav-->

    <div class="container">
        {{#query}}
        {{#verifySuccess}}
        <div class="alert alert-success">
            <p>User successfully verified!</p>
        </div>
        {{/verifySuccess}}
        {{#verifyFailure}}
        <div class="alert alert-warning">
            <p>User unsuccessfully verified. Requests expire after 24 hours.</p>
        </div>
        {{/verifyFailure}}
        {{/query}}
        <div class="row">
            {{#user}}
             <div class="col-xs-12 col-sm-6 col-md-5"> 
                <h3>Welcome, {{username}}!</h3>
                <h4>What would you like to do?</h4>
                <a href="/configurations?reading=true"><div class="btn btn-image">
                    <img src="/img/dashboard/reading.png">
                    <div class="btn-image-short">Submit a Reading</div>
                </div></a>
                <br>
                <a href="/visualize"><div class="btn btn-image">
                    <img src="/img/dashboard/visualize.png">
                    <div class="btn-image-short">Visualize Data</div>
                </div></a>
                <br>
                <a href="/configurations"><div class="btn btn-image">
                    <img src="/img/dashboard/configurations.png">
                    <div class="btn-image-short">View Configurations</div>
                </div></a>
                <br>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7">
                <br>
                <h3 class="h-inline">Map</h3>
                &nbsp;&nbsp;
                <select id="map-user-picker" class="selectpicker">
                    <option value="all">All Users</option>
                    <option value="{{_id}}">Just Me</option>
                </select>
                &nbsp;&nbsp;
                <select id="map-time-picker" class="selectpicker">
                    <option value="86400">Last 24 Hours</option>
                    <option value="172800">Last 48 Hours</option>
                    <option value="604800" selected="selected">Last 1 Week</option>
                    <option value="1209600">Last 2 Weeks</option>
                    <option value="3024000">Last 5 Weeks</option>
                    <option value="6048000">Last 10 Weeks</option>
                    <option value="31557600">Last 1 Year</option>
                </select>
                <br>
                <iframe id="map-time" class="map-iframe" src="/map?embed=true&timeAgo=604800"></iframe>
            </div>
            {{/user}}
        </div>
    </div>

    <!--scripts-->
</body>
