<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Forgot Password Request Not Found</title>
</head>
<body>
    <!--nav-->

    <div class="container">
        <h2>Forgot Password Request Not Found</h2>
        <hr>
        <p>It's possible that the request has expired. (Requests expire after 24hrs.)</p>
        <a href="/">&larr; Return to home</a>
    </div>

    <!--scripts-->
</body>