<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Login</title>
</head>
<body>
    <!--nav_nouser-->

    <div class="container" class="text-center">
        <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-4 col-lg-offset-4">
        <h2>Login</h2>
        <hr>
        {{#query}}
        {{#forgotSent}}
        <div class="alert alert-success">
            <p>Email sent. Check your inbox for an email from "donotreply@lcatdb.org" with the subject "Password Reset".</p>
        </div>
        {{/forgotSent}}
        {{#invalid}}
        <div class="alert alert-warning">
            <p>Invaild username or password.</p>
        </div>
        {{/invalid}}
        {{#reset}}
        <div class="alert alert-success">
            <p>Password reset successfully. Please login.</p>
        </div>
        {{/reset}}
        {{/query}}
        <form action="/logindo" method="post">
            <input class="form-control" type="text" name="username" value="" placeholder="Username"><br>
            <input class="form-control" type="password" name="password" value="" placeholder="Password" data-toggle="password"><br>
            <input class="btn btn-primary" type="submit" value="Log In">
            &nbsp;&nbsp;&nbsp;
            <a href="/forgot" class="btn btn-secondary btn-sm">Forgot Password</a>
        </form>
        <br>
        <p>Joined anonymously? Check here for your auto-generated identity.</p>
        <a href="/anonymous.html" class="btn btn-secondary">Quick Join</a>
        </div>
        </div>
    </div>

    <!--scripts-->

    <script src="/js/lib/bootstrap-show-password.min.js"></script>
    <script src="/js/pages/login.js"></script>
</body>
