<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Map</title>
</head>
{{#query.embed}}
<body class="no-nav page-map">
    <div id="map"></div>

    <!--scripts-->

    <script src="/js/lib/jsurl.js"></script>
    <script src="/js/pages/map.js"></script>
   
    <!--script_map-->
</body>
{{/query.embed}}
{{^query.embed}}
<body class="page-map">
    <!--nav-->

    <div class="container">
        <h2>Map</h2>
        <div id="map"></div>
    </div>

    <!--scripts-->
    
    <script src="/js/lib/jsurl.js"></script>
    <script src="/js/pages/map.js"></script>

    <!--script_map-->
</body>
{{/query.embed}}