<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Map</title>
</head>
{{#query.embed}}
<body class="no-nav page-map">
    <div id="map"></div>

    <!--scripts-->

    <script src="/js/pages/map.js"></script>
   
    <!--script_map-->
</body>
{{/query.embed}}
{{^query.embed}}
<body class="page-map">
    <!--nav-->

    <div class="container">
        <h2>Map</h2>
        <div id="map"></div>
    </div>


    <!-- <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Last <span>24 Hours</span>
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#" data-time="24h">24 Hours</a>
            <a class="dropdown-item" href="#" data-time="48h">48 Hours</a>
            <a class="dropdown-item" href="#" data-time="1w">1 Week</a>
            <a class="dropdown-item" href="#" data-time="2w">2 Weeks</a>
            <a class="dropdown-item" href="#" data-time="5w">5 Weeks</a>
            <a class="dropdown-item" href="#" data-time="6w">10 Weeks</a>
            <a class="dropdown-item" href="#" data-time="6y">1 Year</a>
        </div>
    </div>

    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
    </button> -->

    <!--scripts-->
    
    <script src="/js/pages/map.js"></script>

    <!--script_map-->
</body>
{{/query.embed}}