<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Reading Not Found</title>
	<meta name="app:page" content="readingNF"/>
</head>
<body>
    <!--nav_auto-->

    <div>
        <h1>Reading Not Found</h1>
        <a href="/dashboard.html">&larr; Return to dashboard</a>
    </div>

    <!--scripts-->
</body>