<!DOCTYPE html>
{{^query.marker}}
<head>
    <!--head-->
    <title><!--title--> - Reading</title>
    <meta name="app:page" content="reading"/>
</head>
<body>
    <!--nav_auto-->

    <div class="container">
        {{#reading}}
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2>Reading</h2>
                {{#user}}
                <a href="/newReading.html?configuration={{configuration}}" class="btn btn-primary">
                    Submit New Reading
                </a>
                &nbsp;&nbsp;
                <a href="/configurations/{{configuration}}" class="online_only_disable btn btn-sm btn-secondary">
                    View Configuration
                </a>
                {{/user}}
                <br>

                <div class="row">
                    <div class="col-xs-4 text-right">ID</div>
                    <div>{{_id}}</div>
                </div>

                <div class="row">
                    <div class="col-xs-4 text-right">Creator ID</div>
                    <div>{{creator}}</div>
                </div>
                
                <div class="row">
                    <div class="col-xs-4 text-right">Time Created</div>
                    <div class="normalize"
                        data-unittype="time"
                        data-unit="unix"
                        data-unitpref="human12hr">
                        {{timeCreated}}
                    </div>
                </div>

                {{#published}}
                <div class="row">
                    <div class="col-xs-4 text-right">Time Published</div>
                    <div class="normalize"
                        data-unittype="time"
                        data-unit="unix"
                        data-unitpref="human12hr">
                        {{timePublished}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 text-right">Publisher ID</div>
                    <div>{{publisher}}</div>
                </div>
                {{/published}}

                <hr>

                {{#location}}
                <h2>Location</h2>

                <div class="row">
                    <div class="col-xs-4 text-right">Latitude</div>
                    <div class="normalize"
                        data-unittype="location"
                        data-unit="degrees"
                        data-unitpref="degMin">
                        {{lat}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 text-right">Longitude</div>
                    <div class="normalize"
                        data-unittype="location"
                        data-unit="degrees"
                        data-unitpref="degMin">
                        {{long}}
                    </div>
                </div>

                {{#range}}
                <div class="row">
                    <div class="col-xs-4 text-right">Range</div>
                    <div class="normalize"
                        data-unittype="length"
                        data-unit="meters"
                        data-unitprefsystem="imperial">
                        {{.}}
                    </div>
                </div>
                {{/range}}


                {{#altitude}}
                <div class="row">
                    <div class="col-xs-4 text-right">Altitude</div>
                    <div class="normalize"
                        data-unittype="length"
                        data-unit="meters"
                        data-unitprefsystem="imperial">
                        {{.}}
                    </div>
                </div>
                {{/altitude}}

                {{#altRange}}
                <div class="row">
                    <div class="col-xs-4 text-right">Altitude Range</div>
                    <div class="normalize"
                        data-unittype="length"
                        data-unit="meters"
                        data-unitprefsystem="imperial">
                        {{.}}
                    </div>
                </div>
                {{/altRange}}

                {{/location}}

                <hr>

                <h2 class="h-inline">Values</h2>
                <select id="unit-system-picker" class="selectpicker">
                    <option value="imperial" selected="selected">Imperial Units</option>
                    <option value="metric">Metric Units</option>
                </select>
                <div class="row">
                    {{#values}}
                    <div class="col-lg-6 col-xs-12">
                        <div class="panel reading-panel">
                            <a href="/sensors/{{sensor}}" class="extra-small text-muted reading-sid">{{sensor}}</a>
                            {{{html}}}
                        </div>
                    </div>
                    {{/values}}
                    {{^values}}
                    <p>No values found for this reading.</p>
                    {{/values}}
                </div>
                
                <hr>
            </div>
            <div class="col-xs-12 col-sm-6">
                <h3 class="h-inline">Map</h3>
                <div id="map-time" class="map-iframe" data-reading="{{_id}}"></div>
                <br><br>
            </div>
        {{/reading}}
        </div>
    </div>

    <!--scripts-->
</body>
{{/query.marker}}
{{#query.marker}}
<head>
    <!--head-->
    <title><!--title--> - Reading</title>
    <base target="_blank">
</head>
<body class="no-nav">
    <div class="reading-mini">
        {{#reading}}
        <h5 class="h-inline">Reading</h5>
        &nbsp;&nbsp;
        <a class="btn btn-tiny btn-primary" href="/readings/{{_id}}">
            More Info
        </a>
        <br>
        <div>
            <span class="normalize"
                data-unittype="time"
                data-unit="unix"
                data-unitpref="human12hr">
                {{timeCreated}}
            </span>
        </div>
        <div>
            <strong>Latitude</strong> &bull; 
            <span class="normalize"
                data-unittype="location"
                data-unitpref="degMin">
                {{location.lat}}
            </span>
        </div>
        <div>
            <strong>Longitude</strong> &bull; 
            <span class="normalize"
                data-unittype="location"
                data-unitpref="degMin">
                {{location.long}}
            </span>
        </div>

        {{#values}}
        {{{html}}}
        <br>
        {{/values}}

        {{/reading}}
    </div>

    <!--scripts-->
</body>
{{/query.marker}}