<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Sensor Not Found</title>
    <meta name="app:page" content="sensorNF"/>
</head>
<body>
    <!--nav_auto-->

    <div>
        <h1>Sensor Not Found</h1>
        <a href="/dashboard.html">&larr; Return to dashboard</a>
    </div>

    <!--scripts-->
</body>