<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Sensors</title>
</head>
<body>
    <!--nav-->
    <br>
    <div class="container"><div class="col-md-8 col-md-offset-2 col-xs-12">
        <h2 class="h-inline">Sensors</h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <br>
        <p>This page lists the sensors that are owned by you. Sensors can not take readings on their own; they must be a part of a <a href="/configurations">configuration</a> in order to be usable.</p>
        <hr>
        <ul class="list-group">
            {{#user.sensors}}
            <li class="list-group-item">
                <div class="row small">
                    <div class="col-xs-3"><strong>{{typeData.name}}<strong></div>
                    <div class="col-xs-9 text-right extra-small text-muted">{{_id}}</div>
                </div>
                <a href="/sensors/{{_id}}">
                    <span>{{model}} ({{name}})</span>
                </a>
            </li>
            {{/user.sensors}}
        </ul>
        {{^user.sensors.length}}
        <p>No sensors found.</p>
        {{/user.sensors.length}}
    </div></div>

    <!--scripts-->
</body>