<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Edit Sensor</title>
    <meta name="app:page" content="sensorEdit"/>
    <meta name="app:mustLogin" content="true"/>
    <meta name="app:noUser" content="false"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        {{#sensor}}
        <h2>Edit Sensor</h2>
        <hr>
        {{#canEdit}}
        <form action="<!--url-->/sensors/{{_id}}/editDo" method="post" class="form-horizontal">
            <label class="col-xs-2 col-xxs-12" for="name">
                <strong>Name</strong>
            </label>
            <div class="col-xs-10 col-xxs-12">
                <input  class="form-control"
                        type="text" name="name"
                        value="{{name}}">
                <br>
            </div>

            <label class="col-xs-2 col-xxs-12" for="description">
                <strong>Description</strong>
            </label>
            <div class="col-xs-10 col-xxs-12">
                <input  class="form-control"
                        type="text" name="description"
                        value="{{description}}">
                <br>
            </div>

            <label class="col-xs-2 col-xxs-12" for="model">
                <strong>Model</strong>
            </label>
            <div class="col-xs-10 col-xxs-12">
                <input  class="form-control"
                        type="text" name="model"
                        value="{{model}}" list="models">
                <datalist id="models">
                    {{#models}}
                    <option>{{name}}</option>
                    {{/models}}
                </datalist>
                <br>
            </div>

            <div class="text-right">
                <a  href="/sensors/{{_id}}"
                    class="btn btn-default">
                    Cancel
                </a>
                <button type="submit"
                        class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
        {{/canEdit}}
        {{^canEdit}}
        <p>Sorry, you do not have permission to edit this sensor.
        {{/canEdit}}
        {{/sensor}}
    </div></div>

    <!--scripts-->
</body>