<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Sensor Not Found</title>
</head>
<body>
    <!--nav-->

    <div>
        <h1>Sensor Not Found</h1>
        <a href="/dashboard">&larr; Return to dashboard</a>
    </div>

    <!--scripts-->
</body>