<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Sensor Not Found</title>
    <meta name="app:page" content="sensorNF"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container text-center">
        <h2>Sensor Not Found</h2>
        <a href="/dashboard.html">&larr; Return to dashboard</a>
    </div></div>

    <!--scripts-->
</body>