<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Edit Sensor</title>
    <meta name="app:page" content="sensorEdit"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        {{#sensor}}
        <h2>Edit Sensor</h2>
        {{#canEdit}}
        <form action="/sensors/{{_id}}/editDo" method="post" class="form-horizontal"><fieldset class="container">
            <div class="form-group">
                <label class="col-xs-2 control-label" for="name">Name</label>
                <div class="col-xs-10"><input class="form-control" type="text" name="name" value="{{name}}"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="description">Description</label>
                <div class="col-xs-10"><input class="form-control" type="text" name="description" value="{{description}}"></div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="model">Model</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" name="model" value="{{model}}" list="models">
                    <datalist id="models">
                        {{#models}}
                        <option>{{name}}</option>
                        {{/models}}
                    </datalist>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <a href="/sensors/{{_id}}" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset></form>
        {{/canEdit}}
        {{^canEdit}}
        <p>Sorry, you do not have permission to edit this sensor.
        {{/canEdit}}
        {{/sensor}}
    </div></div>

    <!--scripts-->
</body>