<!DOCTYPE html>
<head>
    <title><!--title--> - Sensor</title>
    <!--head-->
</head>
<body>
    <!--nav-->

    <div>
        <h1>Sensor</h1>
        Name: {{sensor.name}}<br>
        Description: {{sensor.description}}<br>
        Model: {{sensor.model}}<br>
        Type: {{typeName}}
        <h2>Edits</h2>
        <ul>
            {{#sensor.edits}}
            <li>{{time}}</li>
            {{/sensor.edits}}
        </ul>
        {{#canEdit}}<a href="/sensors/{{sensor._id}}/edit">Edit Sensor</a>{{/canEdit}}
    </div>

    <!--footer-->
    <!--scripts-->
</body>