<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Sensor</title>
    <meta name="app:page" content="sensor"/>
    <meta name="app:mustLogin" content="false"/>
    <meta name="app:noUser" content="false"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        <h2>Sensor</h2>
        <br>
        {{#sensor}}
        <table class="table">
            <tr>
                <th>Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{_id}}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{owner.username}}</td>
            </tr>
            <tr>
                <th>Creation Time</th>
                <td class="normalize"
                    data-unittype="time"
                    data-unit="unix"
                    data-unitpref="human12hr">
                    {{creation}}
                </td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{model}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td id="type" data-type="{{type}}">
                    {{typeName}}
                </td>
            </tr>
        </table>
        {{#canEdit}}
        <a role="button" class="btn btn-primary"
           href="/sensors/{{_id}}/edit">
           Edit Details
        </a><br>
        {{/canEdit}}
        
        <hr>
        
        <h3>Edits</h3>
        <ul class="list-group">
            {{#edits}}
            <li class="list-group-item normalize"
                data-unittype="time"
                data-unit="unix"
                data-unitpref="human12hr">
                {{time}}
            </li>
            {{/edits}}
            {{^edits}}
            <p>No edits found for this sensor.</p>
            {{/edits}}
        </ul>
        {{/sensor}}
    </div></div>

    <!--scripts-->
</body>