{{#query.modal}}
<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - New Sensor</title>
    <meta name="app:page" content="sensorNewModal"/>
</head>
<body class="no-nav">
    <div id="content">
        <div class="hide" id="configuration">{{query.configuration}}</div>

        <div id="step-1">
            <ul class="nav nav-tabs">
                {{#sensorTypes}}
                <li><a data-toggle="tab" href="#{{key}}">{{type.data.name}}</a></li>
                {{/sensorTypes}}
            </ul>

            <div class="tab-content">
                {{#sensorTypes}}
                <div id="{{key}}" class="tab-pane">
                    <ul id="modal-sensor-models" class="list-group">
                        {{#type.data.models}}
                        <li><a data-type="{{key}}" data-model="{{name}}" href="#" class="model list-group-item">{{name}}</a></li>
                        {{/type.data.models}}
                    </ul>
                </div>
                {{/sensorTypes}}
            </div>
        </div>

        <div id="loading" style="display:none">
            Loading...
        </div>
    </div>

    <!--scripts-->

    <script src="/js/lib/iframeResizer.contentWindow.min.js"></script>
</body>
{{/query.modal}}
{{^query.modal}}
<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - New Sensor</title>
    <meta name="app:page" content="sensorNew"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        <h2>New Sensor</h2>
        <form action="/sensors/newDo{{#query.configuration}}?configuration={{.}}{{/query.configuration}}" method="post" class="form-horizontal"><fieldset class="container">
            <div class="form-group">
                <label class="col-xs-2 control-label" for="sid">Type</label>
                <div class="col-xs-10">
                    <select class="form-control" name="type">
                        {{#sensorTypes}}
                        <option value="{{key}}">{{type.data.name}}</option>
                        {{/sensorTypes}}
                    </select><br>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="sid">Add to Configuration (Optional)</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" name="configuration" value="{{query.configuration}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <a href="{{#query.configuration}}/configurations/{{.}}/{{/query.configuration}}{{^query.configuration}}/sensors{{/query.configuration}}" class="btn btn-default">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </fieldset></form>
    </div></div>

    <!--scripts-->
</body>
{{/query.modal}}