<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - New Sensor</title>
    <meta name="app:page" content="sensorNewModal"/>
    <meta name="app:mustLogin" content="true"/>
    <meta name="app:noUser" content="false"/>
</head>
<body class="no-nav">
    <div id="content">
        <div class="hide" id="configuration">{{query.configuration}}</div>

        <div id="step-1" style="display:none">
            <ul class="nav nav-tabs">
                {{#sensorTypes}}
                <li><a data-toggle="tab" href="#{{key}}">{{type.data.name}}</a></li>
                {{/sensorTypes}}
            </ul>
            <br>
            <div class="tab-content">
                {{#sensorTypes}}
                <div id="{{key}}" class="tab-pane">
                    <ul id="modal-sensor-models" class="list-group">
                        {{#type.data.models}}
                        <li>
                            <a  data-type="{{key}}"
                                data-model="{{name}}"
                                href="#"
                                class="model list-group-item">
                                {{name}}
                            </a>
                        </li>
                        {{/type.data.models}}
                    </ul>
                </div>
                {{/sensorTypes}}

                <div class="tab-pane active">
                    <p>Please select a sensor type from the above tabs.</p>
                </div>
            </div>
        </div>

        <div id="loading">
            Loading...
        </div>
    </div>

    <!--scripts-->
</body>