<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - New Sensor</title>
    <meta name="app:page" content="sensorNew"/>
    <meta name="app:mustLogin" content="true"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        <h2>New Sensor</h2>
        <form action="<!--url-->/sensors/newDo{{#query.configuration}}?configuration={{.}}{{/query.configuration}}" method="post" class="form-horizontal"><fieldset class="container">
            <div class="form-group">
                <label class="col-xs-2 control-label" for="sid">Type</label>
                <div class="col-xs-10">
                    <select class="form-control" name="type">
                        {{#sensorTypes}}
                        <option value="{{key}}">{{type.data.name}}</option>
                        {{/sensorTypes}}
                    </select><br>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 control-label" for="sid">Add to Configuration (Optional)</label>
                <div class="col-xs-10">
                    <input class="form-control" type="text" name="configuration" value="{{query.configuration}}">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-10 col-xs-offset-2">
                    <a  href="{{#query.configuration}}/configurations/{{.}}/{{/query.configuration}}{{^query.configuration}}/sensors{{/query.configuration}}"
                        class="btn btn-default">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </fieldset></form>
    </div></div>

    <!--scripts-->
</body>