<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Tutorial</title>
    <meta name="app:page" content="tutorial"/>
</head>
<body>
    <!--nav_blank-->
    <div class="container text-center">
        {{#user}}
        <h2>Welcome, {{username}}!</h2>
        <p>In order to get you set up as easily as possible, please tell us which type of user you are.</p>

        <a href="/tutorial/standard"><div id="tut-standard" class="btn btn-image">
            <img src="/img/tutorial/standard.png">
            <h4>Standard</h4>
            <p>Get set up quickly to take readings.</p>
        </div></a>

        <a href="/dashboard.html"><div id="tut-expert" class="btn btn-image">
            <img src="/img/tutorial/expert.png">            
            <h4>Expert</h4>
            <p>I'll set things up myself.</p>
        </div></a>
        {{/user}}
    </div>

    <!--scripts-->
</body>