<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Tutorial</title>
</head>
<body>
    <!--nav-->
    <div class="container text-center">
        {{#user}}
        <h2>Welcome, {{username}}!</h2>
        <p>In order to get you set up as easily as possible, please tell us which type of user you are.</p>

        <a href="/quickreading"><div id="tut-standard" class="btn tutorial-btn">
            <img class="tut-img-btn" src="/img/tutorial/standard.png">
            <h4>Standard</h4>
            <p>Get straight to taking readings.</p>
        </div></a>

        <a href="/dashboard"><div id="tut-expert" class="btn tutorial-btn">
            <img class="tut-img-btn" src="/img/tutorial/expert.png">            
            <h4>Expert</h4>
            <p>I'll set things up myself.</p>
        </div></a>
        {{/user}}
    </div>

    <!--scripts-->
</body>