<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - {{userProfile.username}}'s Profile</title>
    <meta name="app:page" content="user"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        {{#userProfile}}
        <img src="{{picture}}" alt="Profile Picture"><br>
        <h1>Profile</h1>
        Username: {{username}}<br>
        First Name: {{first}}<br>
        Last Name: {{last}}<br>
        E-mail: {{email}}<br>
        Short Description: {{descShort}}<br>
        Long Description: {{descLong}}<br>
        Account created at: {{creation}}<br>
        Is account verified?: {{verified}}<br>
        Timezone: {{timezone}}<br>
        Phones:<br>
        {{#phone}}
            Number: {{number}}<br>
            Location: {{Location}}<br>
            ------------------<br>
        {{/phone}}
        Organizations:<br>
        {{#organizations}}
            {{.}}<br>
        {{/organizations}}
        <br>
        {{/userProfile}}
    </div></div>

    <!--scripts-->
</body>
