<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - API Key</title>
    <meta name="app:page" content="userApiKey"/>
    <meta name="app:mustLogin" content="true"/>
    <meta name="app:noUser" content="false"/>
</head>
<body>
    <!--nav_auto-->

    <div id="content"><div class="container">
        {{#user}}
        <h2>API Key</h2>
        <hr>
        <p>For information on how to use the <!--title--> API, please view the <a href="<!--url-->/api.html">API reference</a>.</p>
        <form action="<!--url-->/user/apiKeyDo" method="post" class="row">
            <label class="col-xs-3 col-xxs-12" for="apiKey">
                <strong>Current Key</strong>
            </label>
            <div class="col-xs-9 col-xxs-12">
                <input  class="form-control"
                        type="text" readonly
                        name="apiKey"
                        value="{{apiKey}}">
                <br>
            </div>

            <div class="text-right">
                <a href="<!--url-->/user/edit" class="btn btn-default">Back</a>
                <button type="submit" class="btn btn-primary">Generate New Key</button>
            </div>
        </form>
        {{/user}}
    </div></div>

    <!--scripts-->
</body>