<!DOCTYPE html>
<head>
    <!--head-->
    <title><!--title--> - Visualize Data</title>
</head>
<body>
    <!--nav-->
    <div class="container">
        <h2>Visualize Data</h2>
        <div id="view_data" class="row">
            <div id="panel_sets" class="col-md-3 col-sm-12">
                <h4 class="h-inline">Data Sets</h4>
                &nbsp;&nbsp;
                <a role="button" class="btn btn-primary" href="#">New</a>
                &nbsp;&nbsp;
                <a role="button" class="btn btn-primary" href="#">Delete</a>
                <br>
                <select id="list_sets" class="form-control">
                    <option>Test Set</option>
                    <option>Test Set</option>
                    <option>Test Set</option>
                    <option>Test Set</option>
                </ul>
            </div>
  
            <div id="panel_properties" class="col-md-9 col-sm-12">
                <h4>Properties</h4>                
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#property_time" data-toggle="tab">
                        Date & Time
                    </a></li>
                    <li><a href="#property_location" data-toggle="tab">
                        Location
                    </a></li>
                    <li><a href="#property_users" data-toggle="tab">
                        Users
                    </a></li>
                    <li><a href="#property_configurations" data-toggle="tab">
                        Configurations
                    </a></li>
                    <li><a href="#property_misc" data-toggle="tab">
                        Misc
                    </a></li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane active" id="property_time">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="time.enabled" class="form-check-input set-control" type="checkbox" value="">
                                Limit Time Range
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Starting Time
                            </label>
                            <div class="input-group">
                                <input name="time.start" disabled class="form-control" type="datetime-local">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label set-control">
                                Ending Time
                            </label>
                            <div class="input-group set-control">
                                <input name="time.end" disabled class="form-control" type="datetime-local">
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="property_location">
                        <div class="row">
                            <div class="col-xs-6 col-xxs-12">
                                <label class="control-label" for="location.lat">
                                    Latitude
                                </label>
                                <div class="input-group">
                                    <input class="form-control" type="number" step="any" name="location.lat"
                                    aria-describedby="addon-location_lat" id="location_lat" min="-90" max="90"><br>
                                    <span class="input-group-addon" id="addon-location_lat">Degrees</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <label class="control-label" for="location.long">
                                    Longitude
                                </label>
                                <div class="input-group">
                                    <input class="form-control" type="number" step="any" name="location.long" 
                                    aria-describedby="addon-location_long" id="location_long" min="-180" max="180">
                                    <span class="input-group-addon" id="addon-location_long">Degrees</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="property_users">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="users.limit" class="form-check-input set-control" type="radio" value="all" checked>
                                Allow entries from all users.
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="users.limit" class="form-check-input set-control" type="radio" value="standard">
                                Don't allow entries from anonymous users.
                            </label>
                        </div>
                        
                        <!--<div class="form-check">
                            <label class="form-check-label">
                                <input name="users.limit" class="form-check-input set-control" type="radio" value="verified">
                                Allow entries from verified users only.
                            </label>
                        </div>-->

                        <!--<div class="form-check">
                            <label class="form-check-label">
                                <input name="users.limit" class="form-check-input set-control" type="radio" value="whitelist">
                                Allow entries from only the following users:
                            </label>
                        </div>-->

                    </div>
                    <div class="tab-pane" id="property_configurations">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="configurations.limit" class="form-check-input set-control" type="radio" value="all" checked>
                                Allow entries from all configurations.
                            </label>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="users.limit" class="form-check-input set-control" type="radio" value="standard">
                                Don't allow entries from anonymous users.
                            </label>
                        </div>
                    </div>
                    <div class="tab-pane" id="property_misc">
                        <div class="form-group">
                            <label class="control-label">
                                Limit Number of Entries
                            </label>
                            <div class="input-group">
                                <input name="misc.entries" class="form-control" type="number" step="1" value="0" min="0">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--scripts-->
    <script src="/js/visualize.js"></script>
</body>