<meta charset="utf-8" />
<meta content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="mobile-web-app-capable" content="yes" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: *.gstatic.com *.googleapis.com <!--url--> 'unsafe-eval' 'unsafe-inline'; style-src 'self' *.gstatic.com *.googleapis.com 'unsafe-inline'; media-src *">

<!--base_cordova-->
<base href="/">

<script src="./cordova.js"></script>

<link href="./css/style.min.css" rel="stylesheet">
