<meta charset="utf-8" />
<meta content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, viewport-fit=cover" />
<meta name="mobile-web-app-capable" content="yes" />
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://api.tiles.mapbox.com <!--url--> 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *">

<!--base_cordova-->
<base href="/">

<link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
<link rel="manifest" href="./favicon/site.webmanifest">
<link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#2196f3">
<meta name="apple-mobile-web-app-title" content="lcatDB (Web)">
<meta name="application-name" content="lcatDB (Web)">
<meta name="msapplication-TileColor" content="#2d89ef">
<meta name="msapplication-TileImage" content="./favicon/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">

<script src="./cordova.js"></script>

<link href="./css/style.min.css" rel="stylesheet">