{{#user}}
<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"
                data-_extension-text-contrast="">
                <svg>
                    <use xlink:href="./img/menu.svg#layer1"></use>
                </svg>
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="./dashboard.html">
                <img src="./img/logo-small-white.png">
            </a>
        </div>
    
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="./newReading.html">Submit Reading</a></li>
                <li><a href="./visualize.html">Visualize</a></li>
                <li><a class="online_only_disable" href="./configurations">Configurations</a></li>
                <li><a class="online_only_disable" href="./sensors">Sensors</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="online_only_disable" href="./logout">Logout</a></li>
                        <li><a class="online_only_disable" href="./user/edit">Edit User Info</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{/user}}