{{#user}}
<div id="sidebar">
    <div id="sidebar_cont">
        <img id="sidebar_logo" src="./img/logo.svg"></img>
        <ul class="sidebar-nav">
            <li>
                <a href="./dashboard.html">Dashboard</a>
                <i class="material-icons">home</i>
            </li>
            <li>
                <a href="./newReading.html">Submit Reading</a>
                <i class="material-icons">mode_edit</i>
            </li>
            <li class="cordova_only_hide" style="display:none">
                <a href="./queue.html">View Queue</a>
                <i class="material-icons">format_list_bulleted</i>
            </li>
            <li class="online_only_hide">
                <a href="./visualize.html">Visualize</a>
                <i class="material-icons">assessment</i>
            </li>
            <li class="online_only_hide">
                <a href="./configurations">Configurations</a>
                <i class="material-icons">directions_boat</i>
            </li>
            <li class="online_only_hide">
                <a href="./sensors">Sensors</a>
                <i class="material-icons">device_hub</i>
            </li>
            <li class="online_only_hide">
                <a href="./about.html">About</a>
                <i class="material-icons">info</i>
            </li>
            <li class="online_only_hide">
                <a href="./user/edit">Edit User Info</a>
                <i class="material-icons">person</i>
            </li>
            <li class="online_only_hide">
                <a href="./logout" class="logout nav-ignore">Logout</a>
                <i class="material-icons">exit_to_app</i>
            </li>
        </ul>
    </div>
</div>
{{/user}}