<nav id="navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" id="sidebar_show">
                <svg>
                    <use xlink:href="./img/menu.svg#layer1"></use>
                </svg>
            </button>
            <a class="navbar-brand" href="./dashboard.html">
                <img src="./img/logo.svg">
            </a>
        </div>
    </div>
</nav>

<div id="sidebar">
    <div id="sidebar_cont">
        <img id="sidebar_logo" src="./img/logo.svg"></img>
        <ul class="sidebar_nav">
            <li>
                <a href="./home.html">Home</a>
                <i class="material-icons">home</i>
            </li>
            <li>
                <a href="./anonymous.html">Quick Join</a>
                <i class="material-icons">directions_run</i>
            </li>
            <li>
                <a href="./login.html">Login</a>
                <i class="material-icons">person</i>
            </li>
            <li class="cordova_only_hide">
                <a href="./queue.html">Register</a>
                <i class="material-icons">person_add</i>
            </li>
            <li class="online_only_hide">
                <a href="./visualize.html">Visualize</a>
                <i class="material-icons">assessment</i>
            </li>
        </ul>
    </div>
</div>